.image {
  position: relative;
  width: 400px;
}



.image__img {
  display: block;
  width: 100%;
}

@media (min-width: 575px) {
  .image__img {

    width: 80%;
  }

  .image {

    width: 250px;
  }

}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #f7ae1c;
  border-radius: 12px;
}

.image__overlay>* {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.8;
}

.image__overlay:hover>* {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
  color: white;
}